/** @format */
:root {
  --contact-color: #662eed;
}
footer {
  background: #f9f7fe;
}
footer a i {
  font-size: 24px;
}
h1,
h2,
h3,
h4 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  font-size: 72px;
}

h2 {
  font-size: 60px;
  padding: 15px;
}
h3 {
  font-size: 36px;
  text-align: center;
}
h4 {
  font-size: 24px;
  color: var(--contact-color);
}
p {
  font-family: "Signika Negative", sans-serif;
}

.top-main {
  background: url(/images/top-bg.png) center center no-repeat;
  color: #fff;
  font-size: 24px;
  padding: 100px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.content {
  padding: 60px;
}
.content p {
  padding: 15px;
  font-size: 24px;
}
.content i {
  margin-right: 15px;
}
@media (max-width: 576px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 36px;
  }
  .top-main {
    font-size: 20px;
    padding: 100px 50px;
  }
  .content {
    padding: 10px;
    text-align: center;
  }
  .content p {
    padding: 5px;
    font-size: 18px;
  }
}
